/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>




/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  ESC    |  Q  |  W  |  E   |  R  |  V  |    |   |     |     |    |    |    |
// |  TAB    |  A  |  S  |  D   |  F  |  T  |    |   |     |     |    |    |    |
// |  LCTRL  |  C  |  2  |  1   |     |     |    |   |     |     |    |    |    |
//                   |  G  | I  | SPC |             |   |     |     |

                        bindings = <
   &kp ESC   &kp Q &kp W  &kp E  &kp R  &kp V       &trans  &trans   &trans  &trans  &trans  &trans
   &kp TAB   &kp A &kp S  &kp D  &kp F  &kp T        &trans  &trans   &trans  &trans  &trans  &trans
   &kp LCTRL &kp C &kp N2 &kp N1                      &trans  &trans       &trans  &trans   &trans  &trans  &trans  &trans
                          &kp G  &kp I  &kp SPC                      &trans  &trans  &trans
                        >;
                };

        };
};
